.drop-down-list {
    border: 1px #696969 solid;
    border-radius: 3px;
    margin: 0;
    position: absolute;
    padding: 7px;
    left: 100px;
    top: 26px;
    width: 113px;
    z-index: 9999;
    cursor: pointer !important;
}